.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
  }

.numbersPage{
    cursor: pointer;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    text-align: center;

}

.active{
    font-weight: bold;
    color:#623173;
    font-size: 2.5vh;
    user-select: none;
    
}

.pagination button{
    background-color: white;
    cursor: pointer;
border:none;
display: flex;
align-items: center;
}

.pagination-arrows{
    height: 2vh;
    margin-left:1vw;
    margin-right: 1vw;
}

.pagination-buttonRight {
    position: absolute;
    right: 30vw;
}

.pagination-buttonLeft{
    position: absolute;
    left:45vw;
}

@media (max-width: 850px){
    .pagination-buttonRight {
        position: absolute;
        right: 10vw;
    }
    .pagination-buttonLeft{
        position: absolute;
        left:24vw;
    }
}