.confirmation{
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.confirmation{
    background-color: rgba(0, 0, 0, 0.279);
}

.confirmation-div{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 5vh;
    position: fixed;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.confirmation-buttons{
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 2.5vh;
}

.action-button{
    padding: 1vh 2vh 1vh 2vh;
    border-radius: 5%;
    border-style: none;
    color: white;
    background-color: #2f85d6;
    cursor: pointer;
}

.close-button{
    padding: 1vh 2vh 1vh 2vh;
    border-style: none;
    border-radius: 5%;
    background-color: #dd3333;    
    color: white;
    cursor: pointer;
}