.athlete{
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:larger;
    overflow: hidden;
}

.athlete-img{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.athlete img{
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    object-position: top center;
}

.athlete-description{
    width: 60%;
    /*texto debajo de la foto centrado*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.athlete-name{
    font-weight: 500;
    font-size: x-large;
}

.athlete-attributes{
    color: rgb(113, 113, 113);
}