.calendar {
    margin:0vh 3vw
}
.calendar h2 {
    padding-top: 3vh;    
}

.calendar-iframe iframe {
    padding: 5vh 0vh;
    width: 100%;
    height: 600px;    
}

@media (max-width: 800px) {
    .calendar h2 {
        font-size: 5vw;
    }
    .calendar-iframe iframe {
        height: 400px;
    }
}