
h1 {
    text-align: center;
    padding-top: 3%;
}

input, textarea {
    padding: 2vh;
    border-radius: 10px;
}

.container {
    width: 50vw;
    margin: auto;
}

.form-item {
   display: grid;
   grid-template-rows: 100%;
   padding-top: 3vh;
}

.inputForm { 
    background-color: #9395D3;
    margin: 3vh 0vh;
}



/* .form-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 5vh;   
} */

/* .nameForm {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 30%;
    padding-bottom: 5vh;
} */

/* .emailForm {
    display: flex;    
    align-items: flex-start;        
    flex-direction: column;
    width: 30%;
    padding-bottom: 5vh;
} */

/* .textForm {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 30%;
    padding-bottom: 5vh;
} */

/* .inputForm {
    padding-bottom: 5vh;
} */

.contactInfo {
    display: flex;
    list-style: none;
    align-items: flex-start;
    flex-direction: column;
    padding: 3%;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

input:invalid:required {
    border: 2px solid grey;
}

input:valid {
    border: 2px solid black;
}

textarea:invalid {
    border: 2px solid grey;
}

textarea:valid {
    border: 2px solid black;
}

/* input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    border: 1px solid #333;
    box-sizing: border-box;
}  */
