.navbar {
    background-color: #623173;    
    font-size: larger;
    width: 30vh;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.navbar-logo {
    margin: 5vh 0 5vh 0;
}

.navbar-logo img{
    width: 50%;
}

.navbar-ul, .navbar-ul-dropdown{
    display: flex;
    flex-direction: column;
}

.navbar-ul li{
    color: white;
    list-style: none;
}

.navbar-ul a{
    text-decoration: none;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.navbar-ul-dropdown a {
    margin-bottom: 1vh;
}

.navbar-ul-dropdown{
    transition: all 1s;
    overflow: hidden;
}

.close{
    height: 0%;
}

.open{
    height: 100%;
}

.navbar-bar{
    margin-top: 10vh;
    width: 150%;
    height: 5vh;
    background-color: black;
    transform: rotate(10deg);
}
