.slider {
    margin-top: 10vh;
    margin-left:7.5vw ;
    width: 80%;
    background-color: #B3B7EE;
    border-radius: 10px;
  
}

.slick-prev::before, .slick-next::before {
    color: rgb(3, 3, 3) !important;
  }

  .slider p{
    padding: 2vh;
  }

.opinion {
  display: flex;
  justify-content: center;
  align-items: center; 
}