footer {
    background-color: #623173;
    height: 100%; 
    width: 100%;    
}

.footer-main {
    display: flex;   
    justify-content: center;
    align-items: center;
}

.footer-contact {
    padding-left: 2vw;
    color: white;
}

.footer-contact a{
    color: white;
    font-size: 1.5vw;
}

.footer-contact p{
    font-size: 1.3vw;
}

.phrase {      
    font-weight: 500;    
    color: black;
    font-size: 2.5vw;
    margin:3vh 0vh;
}

.footer-footerPartners {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.footer-ayto p {
    color:white;    
}

.footer-gaitero p {
    color: white;    
}

.footer-gaitero {
    width: 100%;
}

.footer-ayto {
   width: 100%;
}

.gaitero {
   width: 40%;
}

.ayto {
    width: 30%;
}


.footer-f5Logo {
    width: 30%;    
}

.footer-coders {
    padding-right: 2vw;
}

.footer-coders p {
    color: white;
    font-size: 1.2vw;
    text-align: center;
}

.footer-copyright p {
    font-size: 1.1vw;
}

.footer-policy{
    text-decoration: none;
    color:black;
}