footer {
    background-color: #623173;
    height: 100%; 
    width: 100%;    
}

footer p {
    font-size: 1.3vw;
}

.footer {
    display: flex;    
    justify-content: center;
    align-items: center;   
}

.phrase {      
    font-weight: bold; 
    padding-top: 2vh; 
    color: black;
    font-size: 2.5vw;
}

.footer-footerPartners {
   display: flex; 
   justify-content: center;
   align-items: center;
   width: 50%;   
}

.footer-ayto p {
    color:white;    
}

.footer-gaitero p {
    color: white;    
}

.footer-gaitero {
    width: 100%;
}

.footer-ayto {
   width: 100%;
}

.gaitero {
   width: 50%;
}

.ayto {
    width: 50%;
}

.f5 {
    color: #ff4700;
    font-family: Poppins;       
}

.footer-email {
    color: white;
}

.footer-coders p {
    color: white;

}

.footer-copyright p {
    font-size: 1.1vw;
}

@media (max-width: 50em) {
    footer p {
        font-size: 1vh;
    }   
}