footer {
    background-color: #623173;
    height: 100%; 
    width: 100%;
}

.footer {
    display: flex;    
   justify-content: center;
    align-items: center;
   
}

.phrase{      
    font-weight: bold; 
    padding: 2vh; 
    color: black;
    font-size: 2.5vh;
}

.footer-footerPartners {
   display: flex; 
   justify-content: center;
   align-items: center;
   width: 50%;
   
}

.footer-ayto p{
    color:white;
    
}
.footer-gaitero p{
    color: white;
    
}
.footer-gaitero{
    width: 100%;
}
.footer-ayto{
   width: 100%;
}

.gaitero{
   width: 50%;
}
.ayto{
    width: 50%;
}