.newsCard {
  
    margin: 3vh;
    padding: 2vh;
    display: flex;
    align-items: center;
    
    width: 70%;
}
.newsCard span{
    cursor: pointer;
}
.newsCard-titlePencilTrash {
    display: flex;
    align-items: center;
    margin-left: 3vw;
}
.newsCard-titlePencilTrash img{
    cursor: pointer;
    height:3vh ;
    margin-left: 1vw;
}
.newsCard-imgNews{
    width: 20vw;
    cursor: pointer;
}
.newsCard-bodyNews {
    margin-left: 3vw;
}