.newsCard { 
    padding: 2vh;
    display: flex;
    align-items: center; 
    width: 92%;
}
.newsCard span{
    cursor: pointer;
}
.newsCard-titlePencilTrash {
    display: flex;
    align-items: center;
    
}

.newsCard-titlePencilTrash img{
    cursor: pointer;
    height:2vh ;
    margin-left: 1vw;
    
}

.newsCard-imgNews{
    width: 20vw;
    cursor: pointer;
}
.newsCard-containerNews {
    margin-left: 0;
    margin-left: 1vw;
    text-align: start;
}

.newsCard-bodyNews span{
    color: #623173;
}



@media (max-width: 800px){
    .newsCard { 
        display: flex;
        flex-direction: column;
        width: 92%;
        padding: 0;
    }
.newsCard-containerNews {
    margin-left: 0
}

}