.news-titlePencilForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-titlePencilForm img {
    cursor: pointer;
    height: 3vh;
    margin-left: 1vw;
}

.news-titlePencilForm h2 {
    margin: 3vh 0vh;
}



.news-container p {
    text-align: justify;
    margin: 0vh 20vh 4vh;    
}
.news-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    margin-bottom: 4vh;
}

.news-image .small{
    cursor: default;
}

.news-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    margin-bottom: 4vh;
}

.news-image .small{
    cursor: default;
}

@media (max-width: 800px) {
    .news-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .news-newsUrl {
        width: 100%;
    }
    .news-titlePencilForm {
        width: 100%;
    }
    .news-container p {
        margin: 0vh 0vh 4vh;        
    }
}